h2{
    display: flex;
    justify-content: center;
}
.form {
    color: #244f8e;
    border: 1px solid #000;
    width: 40rem;
    height: auto;
}

.padding {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    align-items: center;
}
.width-input{
    width: 15rem;
}
.credit {
    display: flex;
    align-items: center;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    border: 1px solid #aaaaaa;
    cursor: pointer;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ccc));
    border-radius: 3px;
    padding: 6px 0;
    width: 163px;
}